aiohttp==3.8.4
aiosignal==1.3.1
argcomplete==3.1.1
astroid==2.15.4
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.2
bernhard==0.2.6
black==23.3.0
blinker==1.6.2
bottle==0.12.25
browser-cookie3==0.18.1
cassandra-driver==3.26.0
cattrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.1.0
chevron==0.14.0
click==8.1.3
cmake-language-server==0.1.7
command-not-found==0.3
CouchDB==1.2
cryptography==3.4.8
cs50==9.2.5
dbus-python==1.2.18
debugpy==1.6.7
defusedxml==0.7.1
dill==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.1
docker==6.0.1
docstring-to-markdown==0.12
elastic-transport==8.4.0
elasticsearch==8.6.2
epr-reader==2.4.15
epy-reader==2023.2.8
exceptiongroup==1.1.1
flake8==6.0.0
aiohttp==3.8.4
aiosignal==1.3.1
argcomplete==3.1.1
astroid==2.15.4
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.2
bernhard==0.2.6
black==23.3.0
blinker==1.6.2
bottle==0.12.25
browser-cookie3==0.18.1
cassandra-driver==3.26.0
cattrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.1.0
chevron==0.14.0
click==8.1.3
cmake-language-server==0.1.7
command-not-found==0.3
CouchDB==1.2
cryptography==3.4.8
cs50==9.2.5
dbus-python==1.2.18
debugpy==1.6.7
defusedxml==0.7.1
dill==0.3.6
discord==2.2.2
discord.py==2.2.2
distro==1.7.0
distro-info==1.1+ubuntu0.1
docker==6.0.1
docstring-to-markdown==0.12
elastic-transport==8.4.0
elasticsearch==8.6.2
epr-reader==2.4.15
epy-reader==2023.2.8
exceptiongroup==1.1.1
flake8==6.0.0
Flask==2.3.2
frozenlist==1.3.3
geomet==0.2.1.post1
Glances==3.3.1.1
graphitesender==0.11.2
greenlet==2.0.2
gyp==0.1
httplib2==0.20.2
idna==3.4
ifaddr==0.2.0
ijson==3.2.0.post0
imageai==3.0.3
importlib-metadata==4.6.4
influxdb==5.3.1
influxdb-client==1.36.1
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
kafka-python==2.0.2
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.9.0
lsprotocol==2023.0.0a1
lz4==4.3.2
MarkupSafe==2.1.3
mccabe==0.7.0
more-itertools==8.10.0
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==1.0.0
netifaces==0.11.0
nextcord==2.5.0
nodeenv==1.7.0
numpy==1.24.2
oauthlib==3.2.0
packaging==23.0
paho-mqtt==1.6.1
parso==0.8.3
pathspec==0.11.1
pbkdf2==1.3
pika==1.3.1
pipx==1.2.0
platformdirs==3.5.1
pluggy==1.0.0
ply==3.11
potsdb==1.0.3
prometheus-client==0.16.0
protobuf==4.22.1
psutil==5.9.4
py3nvml==0.2.7
pyasn1==0.4.8
pycodestyle==2.10.0
pycryptodomex==3.17
pydocstyle==6.3.0
pyflakes==3.0.1
pygal==3.0.0
pygls==1.0.1
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pylint==2.17.4
pymdstat==0.4.3
pyparsing==2.4.7
pyright==1.1.302
pysmi==0.3.4
pysnmp==4.4.12
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.2
pytoolconfig==1.2.5
pytz==2023.3
PyYAML==5.4.1
pyzmq==25.0.2
reactivex==4.0.4
requests==2.28.2
rope==1.8.0
ruff==0.0.271
scandir==1.10.0
SecretStorage==3.3.1
six==1.16.0
snowballstemmer==2.2.0
SQLAlchemy==1.4.46
sqlparse==0.4.4
ssh-import-id==5.11
statsd==4.0.1
systemd-python==234
termcolor==2.3.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
trash-cli==0.17.1.14
typeguard==2.13.3
typing_extensions==4.5.0
ubuntu-advantage-tools==8001
ufw==0.36.1
ujson==5.7.0
unattended-upgrades==0.1
urllib3==1.26.15
userpath==1.9.0
wadllib==1.3.6
websocket-client==1.5.1
Werkzeug==2.3.7
whatthepatch==1.0.5
wifi==0.3.8
wrapt==1.15.0
xmltodict==0.13.0
yapf==0.32.0
yarl==1.8.2
zeroconf==0.47.4
zipp==1.0.0