body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to right, #6a68ea 0%, #ca3aca 100%);
}


#logout-btn {
    margin: 0.5rem 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
}

#todo-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#todo-itm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin: 9px;
    background-color: rgba(160, 155, 155, 0.199);
    padding: 10px;
    width: 60%;

}

#add-btn,
#todo-form {
    margin: 0.5rem 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    background-color: #282c34;
    text-align: center;
    color: white;
    cursor: pointer;
}



#todo-index {
    background: #fff;
    max-width: 700px;
    margin: auto auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.open-button {
    background-color: #38383f;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 20px rgba(0, 0, 0, 0.1);
}

.form-popup {
    position: fixed;
    bottom: fixed;
    top: 15px;
    border: solid #f1f1f1;
    z-index: 9;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

.form-container {
    max-width: 600px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text],
.form-container select[name="section"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;

}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

#add-section {
    background: #fff;
    margin: 15px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
}

#add-section input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    position: fixed;
}

.task-text {
    font-size: 1.2rem;
    margin: 0.5rem 0.25rem;
    justify-content: center;
    text-align: center;
    border-radius: 0.25rem;
    outline: none;
}

.task-text {
    padding-right: 1rem;
    padding-left: 2rem;
}

#content-drop {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#sect-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#ind-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    margin: 9px;
    padding: 10px;
    justify-content: space-between;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin: 9px;
    padding: 10px;
    width: 100%;
}